{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-flow"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
