{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/standard"
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "standard"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": ["error", { "props": false }]
  }
}
